<a href="https://colab.research.google.com/github/sirishaallarapu/AdvancedPySpark-/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.functions import lit

spark = SparkSession.builder.appName("SchemaHandling").getOrCreate()

data = {
    "ProductID": [201, 202, 203, 204],
    "ProductName": ["Laptop", "Smartphone", "Tablet", "Smartwatch"],
    "Category": ["Electronics", "Electronics", "Electronics", "Wearables"],
    "Price": [1200, 800, 500, 300],
    "Stock": [50, 200, 150, 100]
}

df = pd.DataFrame(data)
csv_file = "/tmp/products.csv"
df.to_csv(csv_file, index=False)

product_df = spark.read.option("header", "true").option("inferSchema", "true").csv(csv_file)

product_df.printSchema()
product_df.show()

updated_product_df = product_df.withColumn("Discount", lit(None).cast("double"))
updated_product_df.printSchema()
updated_product_df.show()

product_df.createOrReplaceTempView("products")

spark.sql("SELECT * FROM products").show()
spark.sql("SELECT ProductName, Price FROM products WHERE Stock < 100").show()

root
 |-- ProductID: integer (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Stock: integer (nullable = true)

+---------+-----------+-----------+-----+-----+
|ProductID|ProductName|   Category|Price|Stock|
+---------+-----------+-----------+-----+-----+
|      201|     Laptop|Electronics| 1200|   50|
|      202| Smartphone|Electronics|  800|  200|
|      203|     Tablet|Electronics|  500|  150|
|      204| Smartwatch|  Wearables|  300|  100|
+---------+-----------+-----------+-----+-----+

root
 |-- ProductID: integer (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Stock: integer (nullable = true)
 |-- Discount: double (nullable = true)

+---------+-----------+-----------+-----+-----+--------+
|ProductID|ProductName|   Category|Price|Stock|Discount|
+---------+-----------+-----------+-----+-----+--------+
|      201|     Laptop|Electronics| 1200|   50|    NULL|
|      202| Smartphone|Electronics|  800|  200|    NULL|
|      203|     Tablet|Electronics|  500|  150|    NULL|
|      204| Smartwatch|  Wearables|  300|  100|    NULL|
+---------+-----------+-----------+-----+-----+--------+

+---------+-----------+-----------+-----+-----+
|ProductID|ProductName|   Category|Price|Stock|
+---------+-----------+-----------+-----+-----+
|      201|     Laptop|Electronics| 1200|   50|
|      202| Smartphone|Electronics|  800|  200|
|      203|     Tablet|Electronics|  500|  150|
|      204| Smartwatch|  Wearables|  300|  100|
+---------+-----------+-----------+-----+-----+

+-----------+-----+
|ProductName|Price|
+-----------+-----+
|     Laptop| 1200|
+-----------+-----+

In [ ]:
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.functions import lit

spark = SparkSession.builder.appName("SchemaHandling").getOrCreate()

data = {
    "VehicleID": [1, 2, 3, 4],
    "Brand": ["Toyota", "Honda", "Ford", "Tesla"],
    "Model": ["Corolla", "Civic", "Focus", "Model 3"],
    "Year": [2018, 2019, 2020, 2021],
    "Price": [20000, 22000, 25000, 35000]
}

df = pd.DataFrame(data)
csv_file = "/tmp/vehicles.csv"
df.to_csv(csv_file, index=False)

vehicle_df = spark.read.option("header", "true").option("inferSchema", "true").csv(csv_file)

vehicle_df.printSchema()
vehicle_df.show()

updated_vehicle_df = vehicle_df.withColumn("Mileage", lit(None).cast("integer"))
updated_vehicle_df.printSchema()
updated_vehicle_df.show()

vehicle_df.createOrReplaceTempView("vehicles")

spark.sql("SELECT * FROM vehicles").show()
spark.sql("SELECT Brand, Model, Price FROM vehicles WHERE Price > 25000").show()

root
 |-- VehicleID: integer (nullable = true)
 |-- Brand: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Price: integer (nullable = true)

+---------+------+-------+----+-----+
|VehicleID| Brand|  Model|Year|Price|
+---------+------+-------+----+-----+
|        1|Toyota|Corolla|2018|20000|
|        2| Honda|  Civic|2019|22000|
|        3|  Ford|  Focus|2020|25000|
|        4| Tesla|Model 3|2021|35000|
+---------+------+-------+----+-----+

root
 |-- VehicleID: integer (nullable = true)
 |-- Brand: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Mileage: integer (nullable = true)

+---------+------+-------+----+-----+-------+
|VehicleID| Brand|  Model|Year|Price|Mileage|
+---------+------+-------+----+-----+-------+
|        1|Toyota|Corolla|2018|20000|   NULL|
|        2| Honda|  Civic|2019|22000|   NULL|
|        3|  Ford|  Focus|2020|25000|   NULL|
|        4| Tesla|Model 3|2021|35000|   NULL|
+---------+------+-------+----+-----+-------+

+---------+------+-------+----+-----+
|VehicleID| Brand|  Model|Year|Price|
+---------+------+-------+----+-----+
|        1|Toyota|Corolla|2018|20000|
|        2| Honda|  Civic|2019|22000|
|        3|  Ford|  Focus|2020|25000|
|        4| Tesla|Model 3|2021|35000|
+---------+------+-------+----+-----+

+-----+-------+-----+
|Brand|  Model|Price|
+-----+-------+-----+
|Tesla|Model 3|35000|
+-----+-------+-----+

In [ ]:
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.functions import lit

spark = SparkSession.builder.appName("SchemaHandling").getOrCreate()

data = {
    "CourseID": [101, 102, 103, 104],
    "CourseName": ["Python Basics", "Data Science", "Web Development", "Machine Learning"],
    "Instructor": ["Dhoni", "Virat", "Raina", "Rohit"],
    "Duration": [4, 8, 6, 10],
    "StudentsEnrolled": [150, 200, 180, 220]
}

df = pd.DataFrame(data)
csv_file = "/tmp/courses.csv"
df.to_csv(csv_file, index=False)

course_df = spark.read.option("header", "true").option("inferSchema", "true").csv(csv_file)

course_df.printSchema()
course_df.show()

updated_course_df = course_df.withColumn("Rating", lit(None).cast("double"))
updated_course_df.printSchema()
updated_course_df.show()

course_df.createOrReplaceTempView("courses")

spark.sql("SELECT * FROM courses").show()
spark.sql("SELECT CourseName, Instructor FROM courses WHERE StudentsEnrolled > 180").show()

root
 |-- CourseID: integer (nullable = true)
 |-- CourseName: string (nullable = true)
 |-- Instructor: string (nullable = true)
 |-- Duration: integer (nullable = true)
 |-- StudentsEnrolled: integer (nullable = true)

+--------+----------------+----------+--------+----------------+
|CourseID|      CourseName|Instructor|Duration|StudentsEnrolled|
+--------+----------------+----------+--------+----------------+
|     101|   Python Basics|     Dhoni|       4|             150|
|     102|    Data Science|     Virat|       8|             200|
|     103| Web Development|     Raina|       6|             180|
|     104|Machine Learning|     Rohit|      10|             220|
+--------+----------------+----------+--------+----------------+

root
 |-- CourseID: integer (nullable = true)
 |-- CourseName: string (nullable = true)
 |-- Instructor: string (nullable = true)
 |-- Duration: integer (nullable = true)
 |-- StudentsEnrolled: integer (nullable = true)
 |-- Rating: double (nullable = true)

+--------+----------------+----------+--------+----------------+------+
|CourseID|      CourseName|Instructor|Duration|StudentsEnrolled|Rating|
+--------+----------------+----------+--------+----------------+------+
|     101|   Python Basics|     Dhoni|       4|             150|  NULL|
|     102|    Data Science|     Virat|       8|             200|  NULL|
|     103| Web Development|     Raina|       6|             180|  NULL|
|     104|Machine Learning|     Rohit|      10|             220|  NULL|
+--------+----------------+----------+--------+----------------+------+

+--------+----------------+----------+--------+----------------+
|CourseID|      CourseName|Instructor|Duration|StudentsEnrolled|
+--------+----------------+----------+--------+----------------+
|     101|   Python Basics|     Dhoni|       4|             150|
|     102|    Data Science|     Virat|       8|             200|
|     103| Web Development|     Raina|       6|             180|
|     104|Machine Learning|     Rohit|      10|             220|
+--------+----------------+----------+--------+----------------+

+----------------+----------+
|      CourseName|Instructor|
+----------------+----------+
|    Data Science|     Virat|
|Machine Learning|     Rohit|
+----------------+----------+

In [ ]:
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.functions import lit

spark = SparkSession.builder.appName("SchemaHandling").getOrCreate()

data = {
    "TransactionID": [1001, 1002, 1003, 1004],
    "CustomerName": ["Alice", "Bob", "Charlie", "David"],
    "Product": ["Milk", "Bread", "Eggs", "Butter"],
    "Quantity": [2, 1, 1, 3],
    "TotalPrice": [10, 5, 6, 15]
}

df = pd.DataFrame(data)
csv_file = "/tmp/supermarket_sales.csv"
df.to_csv(csv_file, index=False)

sales_df = spark.read.option("header", "true").option("inferSchema", "true").csv(csv_file)

sales_df.printSchema()
sales_df.show()

updated_sales_df = sales_df.withColumn("DiscountApplied", lit(False).cast("boolean"))
updated_sales_df.printSchema()
updated_sales_df.show()

sales_df.createOrReplaceTempView("sales")

spark.sql("SELECT * FROM sales").show()
spark.sql("SELECT CustomerName, Product, TotalPrice FROM sales WHERE TotalPrice > 10").show()

root
 |-- TransactionID: integer (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- TotalPrice: integer (nullable = true)

+-------------+------------+-------+--------+----------+
|TransactionID|CustomerName|Product|Quantity|TotalPrice|
+-------------+------------+-------+--------+----------+
|         1001|       Alice|   Milk|       2|        10|
|         1002|         Bob|  Bread|       1|         5|
|         1003|     Charlie|   Eggs|       1|         6|
|         1004|       David| Butter|       3|        15|
+-------------+------------+-------+--------+----------+

root
 |-- TransactionID: integer (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- TotalPrice: integer (nullable = true)
 |-- DiscountApplied: boolean (nullable = false)

+-------------+------------+-------+--------+----------+---------------+
|TransactionID|CustomerName|Product|Quantity|TotalPrice|DiscountApplied|
+-------------+------------+-------+--------+----------+---------------+
|         1001|       Alice|   Milk|       2|        10|          false|
|         1002|         Bob|  Bread|       1|         5|          false|
|         1003|     Charlie|   Eggs|       1|         6|          false|
|         1004|       David| Butter|       3|        15|          false|
+-------------+------------+-------+--------+----------+---------------+

+-------------+------------+-------+--------+----------+
|TransactionID|CustomerName|Product|Quantity|TotalPrice|
+-------------+------------+-------+--------+----------+
|         1001|       Alice|   Milk|       2|        10|
|         1002|         Bob|  Bread|       1|         5|
|         1003|     Charlie|   Eggs|       1|         6|
|         1004|       David| Butter|       3|        15|
+-------------+------------+-------+--------+----------+

+------------+-------+----------+
|CustomerName|Product|TotalPrice|
+------------+-------+----------+
|       David| Butter|        15|
+------------+-------+----------+